In [1]:
import pandas as pd

df_raw = pd.DataFrame({'var1' : [1, 2, 1],
                       'var2' : [2, 3, 2]})
df_raw

   var1  var2
0     1     2
1     2     3
2     1     2

In [2]:
df_new = df_raw.copy()
df_new

   var1  var2
0     1     2
1     2     3
2     1     2

In [3]:
df_new = df_new.rename(columns= {'var1' : 'v1'})
df_new

   v1  var2
0   1     2
1   2     3
2   1     2